apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: vote-app-gateway
  namespace: vote-app
spec:
  gatewayClassName: nginx
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same