name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Vote
        uses: docker/build-push-action@v4
        with:
          context: ./vote
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/vote:${{ github.sha }},${{ secrets.DOCKER_USERNAME }}/vote:latest

      - name: Build & Push Result
        uses: docker/build-push-action@v4
        with:
          context: ./result
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/result:${{ github.sha }},${{ secrets.DOCKER_USERNAME }}/result:latest

      - name: Build & Push Worker
        uses: docker/build-push-action@v4
        with:
          context: ./worker
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/worker:${{ github.sha }},${{ secrets.DOCKER_USERNAME }}/worker:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name fawad-voting-app-cluster-3 \
            --region eu-west-1

      - name: Deploy to EKS
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/redis-deployment.yaml
          kubectl apply -f k8s/postgres-deployment.yaml
          kubectl apply -f k8s/vote-deployment.yaml
          kubectl apply -f k8s/result-deployment.yaml
          kubectl apply -f k8s/worker-deployment.yaml
          kubectl apply -f k8s/ingress.yaml

      - name: Verify Rollout
        run: |
          kubectl rollout status deployment/vote -n vote-app
          kubectl rollout status deployment/result -n vote-app
          kubectl rollout status deployment/worker -n vote-app
